@import "tailwindcss";
@import "@fontsource/outfit";
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap");

@theme {
  --color-primary: #013941;
  --color-secondary: #e0e0e0;
}

@font-face {
  font-family: "Clash Display";
  src: url("./assets/font/ClashDisplay-Bold.otf") format("opentype"),
    url("./assets/font/ClashDisplay-Variable.ttf") format("truetype");
  font-style: normal;
  font-display: swap; /* Ensures text remains visible during font load */
}

.clash-font {
  font-family: "Clash Display", sans-serif;
}

.outfit-font {
  font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

.instrument-font {
  font-family: "Instrument Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
